<div class="container">
  <h1>Calculator</h1>
  <form id="calculator-form"  onsubmit="event.preventDefault();">
    <div class="form-group">
      <label for="a">Number A:</label>
      <input type="number" class="form-control" id="a" name="a" min="0" max="99" required>
    </div>
    <div class="form-group">
      <label for="b">Number B:</label>
      <input type="number" class="form-control" id="b" name="b" min="0" max="99" required>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary" id="sum-button" value="sum">Sum</button>
      <button type="button" class="btn btn-primary" id="difference-button" value="difference">Difference</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary" id="multiplication-button" value="multiplication">Multiplication</button>
      <button type="button" class="btn btn-primary" id="division-button" value="division">Division</button>
    </div>
  </form>
  <div class="form-group">
    <label for="result">Result:</label>
    <textarea class="form-control" id="result" name="result" rows="4" readonly></textarea>
  </div>
  <div class="form-group">
    <div class="spinner-grow text-info" id="loader" role="status" style="display: none"></div>
  </div>
</div>
